@font-face {
  font-family: 'Gotham';
  src: url('Gotham-Book.eot'); /* IE9 Compat Modes */
  src: url('Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham-Book.woff') format('woff'), /* Modern Browsers */
       url('Gotham-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Gotham-Book.svg#7510147900d23fa3ad697e74bf146ea2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham';
  src: url('Gotham-BookIta.eot'); /* IE9 Compat Modes */
  src: url('Gotham-BookIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham-BookIta.woff') format('woff'), /* Modern Browsers */
       url('Gotham-BookIta.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Gotham-BookIta.svg#3306677ba9cb099a0feef3c60eec633b') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham';
  src: url('Gotham-Medium.eot'); /* IE9 Compat Modes */
  src: url('Gotham-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham-Medium.woff') format('woff'), /* Modern Browsers */
       url('Gotham-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Gotham-Medium.svg#bdc473fae2f64b1c45b8886bcff81bae') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  800;
}

@font-face {
  font-family: 'Gotham';
  src: url('Gotham-MediumIta.eot'); /* IE9 Compat Modes */
  src: url('Gotham-MediumIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham-MediumIta.woff') format('woff'), /* Modern Browsers */
       url('Gotham-MediumIta.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Gotham-MediumIta.svg#6a1b14fb9d14cad5a3984f81e4a1f481') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  800;
}

