/* @override 
	http://empresando.it/wp-content/themes/empresando-theme/style.css */

/*   
Theme Name: The HTML5 Reset Theme
Theme URI: http://html5reset.org
Description: A style-free theme to get you started on an HTML5-based WordPress theme of your own.
Author: Monkey Do! + @ckhicks
Author URI: http://monkeydo.biz
Version: 2.0
*/



/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.chromeframe {position: absolute; top: 0;}

/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */


/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #333;}

a {color: #c5161e;}
a:hover {color: #840e14;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }


/* And here begins the WordPress fun.
-------------------------------------------------------------------------------*/

#wrapper {width: 900px; margin: 0px auto;}

.post {}

.entry-content {}
.entry-content a {}
.entry-content a:hover {}

#meta {}
.postmetadata {}

#sidebar {}

.navgation {}
.next-posts {}
.prev-posts {}

#searchform {}
#s {}
#searchsubmt {}
	
ol.commentlist {list-style: none;}
ol.commentlist li {}
ol.commentlist li.alt {}
ol.commentlist li.bypostauthor {}
ol.commentlist li.byuser {}
ol.commentlist li.comment-author-admin {}
ol.commentlist li.comment {border-bottom: 1px dotted #666; padding: 10px;}
ol.commentlist li.comment div.comment-author {}
ol.commentlist li.comment div.vcard {}
ol.commentlist li.comment div.vcard cite.fn {font-style: normal;}
ol.commentlist li.comment div.vcard cite.fn a.url {}
ol.commentlist li.comment div.vcard img.avatar {float:right; margin: 0 0 10px 10px;}
ol.commentlist li.comment div.vcard img.avatar-32 {}
ol.commentlist li.comment div.vcard img.photo {}
ol.commentlist li.comment div.vcard span.says {}
ol.commentlist li.comment div.commentmetadata {}
ol.commentlist li.comment div.comment-meta {font-size: 10px;}
ol.commentlist li.comment div.comment-meta a {color: #ccc;}
ol.commentlist li.comment p {}
ol.commentlist li.comment ul {}
ol.commentlist li.comment div.reply {font-size: 11px;}
ol.commentlist li.comment div.reply a {font-weight: bold;}
ol.commentlist li.comment ul.children {list-style: none; margin: 10px 0 0;}
ol.commentlist li.comment ul.children li {}
ol.commentlist li.comment ul.children li.alt {}
ol.commentlist li.comment ul.children li.bypostauthor {}
ol.commentlist li.comment ul.children li.byuser {}
ol.commentlist li.comment ul.children li.comment {}
ol.commentlist li.comment ul.children li.comment-author-admin {}
ol.commentlist li.comment ul.children li.depth-2 {border-left: 5px solid #555; margin: 0 0 10px 10px;}
ol.commentlist li.comment ul.children li.depth-3 {border-left: 5px solid #999; margin: 0 0 10px 10px;}
ol.commentlist li.comment ul.children li.depth-4 {border-left: 5px solid #bbb; margin: 0 0 10px 10px;}
ol.commentlist li.comment ul.children li.depth-5 {}
ol.commentlist li.comment ul.children li.odd {}
ol.commentlist li.even {background: #fff;}
ol.commentlist li.odd {background: #f6f6f6;}
ol.commentlist li.parent {border-left: 5px solid #111;}
ol.commentlist li.thread-alt {}
ol.commentlist li.thread-even {}
ol.commentlist li.thread-odd {}



@viewport{
  zoom: 3.0;
  width: device-width; /* = 100vw */
}
@-ms-viewport{
  width: device-width;
  zoom: 1.0;
}


/* Print styles!
-------------------------------------------------------------------------------*/
@media print {

}


/* @group stili base */
#content {
	overflow: hidden;
}

#content,
body {
	min-width: 900px;
}


/* @end */

/* @group fasce colorate */
.bar {
	height: 100%;
	background: blue;
	width: 3000px;
	position: absolute;
	top: 0;
}

.bar.yellow {
	background: #fcc200;
}

.bar.red {
	background: #c5161e;
}

.bar.left {
	left: -3000px;
}
.bar.right {
	right: -3000px;
}

#nav div.bar.right.red,
#page-content div.bar.left.red {
	top: -1px;
}

#page-content div.bar.left.red {
	top: -2px;
}

#page-content div.bar.right.yellow {
	top: -1px;
}

/* @end */

/* @group header */
header .top {
	position: relative;
}

header .top .master-image {
	height: 300px;
	overflow: hidden;
}

header .bottom {
	position: relative;
	height: 78px;
}

header .bottom .logo {
	background: url('images/logo.jpg') no-repeat center;
	height: 78px;
	width: 272px;
	position: absolute;
	right: 20px;
	display: block;
}

header .bottom .logo:hover {
	opacity: 0.8;
}

header .watermark {
	height: 100%;
	width: 322px;
	background: url('images/slideshow-watermark.png') no-repeat center;
	/*pointer-events: none;*/
	z-index: 99;
	position: absolute;
	top: 0;
	left: 0;
}

header .watermark .description {
	color: white;
	font-size: 16px;
	position: absolute;
	bottom: 10px;
	left: 20px;
	width: 800px;
}

/* @end */

/* @group footer  */

footer {
	
	position: relative;
	background: white;
	top: -2px;
}

footer .container {
	margin: 0 auto;
	width: 900px;
	padding: 10px 20px;
}

footer small {
	color: #c5161e;
	font-size: 13px;
}


/* @end */

/* @group navigazione */
nav {
	background: #f2f2f2;
	color: white;
	font-size: 0;
	position: relative;
	
	
}

nav ul {
	border-top: 1px solid #c5161e;
	border-bottom: 1px solid #c5161e;
	padding: 0 20px;
	position: relative;
	top: -1px;
}



nav ul li {
	font-size: 14px;
	display: inline-block;
	text-transform: lowercase;
	color: #c5161e;
	border-right: 1px solid #c5161e;
}

nav ul li:first-child,
#nav div.menu ul li.page_item.page-item-5 {
	border-left: 1px solid #c5161e;
}

nav ul li a {
	color: inherit;
	font-weight: 400;
	height: 26px;
	line-height: 28px;
	padding: 0 15px;
	text-decoration: none;
	display: block;
}

nav ul li a:hover {
	color: white;
}

nav ul li.current_page_item,
nav ul li:hover {
	background: #c5161e;
	color: white;
}

nav ul li.current_page_item a:hover{
	color: white;
}


/* @end */

/* @group page content  */
#page-content {
	background: #f2f2f2;
	position: relative;
	color: #666666;
	font-size: 14px;
	padding: 0 20px 30px;

}

#page-content .page-head {
	padding:  30px 0px;
}

#page-content .page-head h1 {
	color: #c5161e;
	font-weight: 100;
	font-size: 28px;
}

#page-content article {
	padding: 0 20px;
}


/* @end */

/* @group testi  */

#page-content article .entry {
	padding-bottom: 20px;
	padding-right: 20px;
}

#page-content article .entry p{
	padding-bottom: 10px;
	padding-right: 10px;
}

#page-content article .entry ul li {
	background: url('images/list-image.png') no-repeat left top;
	padding: 2px 0px 0 28px;
	/* reset styles (optional): */
	list-style: none;
	margin: 10px 0;
}

/* @end */

/* @group pagine archivio e blog */

#page-content .post-list .page-head  {
	/*padding: 30px 0 0;*/
	
	background: url('images/list-image.png') no-repeat left ;
	padding: 2px 0px 0 30px;
}

#page-content .post-list .post {
	padding: 30px 0 0;
}

#page-content .post-list article {
	padding: 0 0 0 30px!important;
}

.post-list .featured-image {
	float: right;
	margin-left: 20px;
}
.post-list .postmetadata {
	padding: 0;
} 

.posts_link_nav {
	margin-top: 30px;
	padding: 0 30px;
}
.posts_link_nav .posts_link.next {
	float: right;
}

/* @end */

/* @group archive template */

.archive-title {
	padding: 30px 30px 0 30px;
}

.archive-title h2 {
	
}

/* @end */

/* @group forms */

div.clear {
	clear: both;
}
div.wpcf7 {
	margin-top: 20px !important;
	left: -10px!important;
	position: relative;
}

div.wpcf7 .row {
	margin-top: 20px!important;
	font-size: 0;
	letter-spacing: 0;
}

div.wpcf7 .row .left {
	width: 501px;
	float: left;
}

div.wpcf7 .row .right {
	width: 300px;
	float: right;
	padding-right: 10px;
}

div.wpcf7 .row .half,
div.wpcf7 .row .full {
	margin: 0 10px;
}

div.wpcf7 .row .half {
	width: 224px;
	display: inline-block;
	margin-top: 10px;
}

div.wpcf7 .row * {
	font-size: 14px;
}

div.wpcf7 input,
div.wpcf7 textarea {
	background: white;
	border: 1px solid #666666;
	width: 100%;
}

div.wpcf7 input {
	line-height: 22px;
}


input.wpcf7-form-control.wpcf7-file {
	background: none;
	border: none;	
}

div.wpcf7 .label,
div.wpcf7 .acceptance {
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 5px;
}

div.submit-column {
	position: absolute;
	right: 0;
	bottom: 0;
}

div.submit-column .half {
	width:100%!important;
	padding-right: 10px;
}

#wpcf7-f66-p20-o1 form.wpcf7-form div.submit-column div.btn input.wpcf7-form-control.wpcf7-submit {
	
}

div.wpcf7 .acceptance {
	font-size: 12px;
}

input.wpcf7-form-control.wpcf7-acceptance {
	width: auto;	
}


input.wpcf7-form-control.wpcf7-submit {
	width: 67px;
	height: 67px;
	line-height: 67px;
	padding: 0;
	border: none;
	background: url('images/submit-bg.png') no-repeat left top;
	color: white;
	cursor: pointer;
	float: right;
}


div.wpcf7 {
	
}

body.page.page-id-23.page-template-default.logged-in.admin-bar..customize-support {
	
}

body.page.page-id-23 .wpcf7 .left,
body.page.page-id-23 .wpcf7 .right{
	width: 700px;
}

body.page.page-id-23 .wpcf7 .half{
	width: 300px;
	
}

body.page.page-id-23 .wpcf7 .right {
	width: 91px;
}

div.wpcf7 .terms,
div.wpcf7 .terms a {
	font-size: 12px;
}

/* @end */

/* @group contattaci */
div.businesscard {
	height: 326px;
	width: 813px;
	margin: 0 auto;
	position: relative;
	background: url('images/businesscard.png') no-repeat left top;
}

div.businesscard .txt {
	position: absolute;
	width: 350px;
	left: 442px;
	top: 229px;
	color: #991915;
	font-size: 12px;
}

div.businesscard .txt p {
	margin-bottom: 10px;
}


/* @end */


/* Media queries!
-------------------------------------------------------------------------------*/



/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/

@media screen and (max-device-width: 480px) {

}

@media all and (orientation: portrait) {
	
}

@media all and (orientation: landscape) {
	
} */


.social-likes {
	display: block!important;
	margin: 0!important;
}




















