/* @override 
	http://empresando.it/wp-content/themes/empresando-theme/typography.css */

#page-content .page-head h1,
footer small {
	font-family: 'PT Serif', serif;
}


body {
	font-family: 'Gotham', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}